/*  your css code here. If applicable */
/* 1️⃣ Background Color using :root */
:root {
    background-color: rgb(135, 206, 235);
}

/* 2️⃣ Article Paragraphs */

/* First paragraph */
article p:first-child {
    background-color: black;
    color: white;
}

/* Second paragraph */
article p:nth-child(2) {
    color: initial;
}

/* Third paragraph */
article p:last-child {
    color: red;
}


/* 3️⃣ Unordered List */

/* All list items */
ul li {
    background-color: gray;
    width: 50%;
    padding: 10px;
}

/* Odd items */
ul li:nth-child(odd) {
    background-color: white;
}

/* First and Last items */
ul li:first-child,
ul li:last-child {
    font-size: 22px;
}

/* Third-to-last item */
ul li:nth-last-child(3) {
    background-color: pink;
}